.btn {
  width: 90px;
  height: 34px;
  border-radius: 5px;
  border: 1px solid var(--patientsLegendsColor);
}
.arrow {
  font-size: 12px;
  color: black;
}
.button {
  width: 40px;
  height: 34px;
  background-color: #fff;
  border-radius: 10px;
  /* border: 1px solid var(--patientsLegendsColor); */
}
.totalElementsColor {
  color: var(--grayColor);
}
.layout {
  width: 20%;
  margin: auto;
}
/* 110% pagenation */
@media screen and (max-width: 1396.36px) {
  .button {
    width: 40px;
    height: 35px;
    border-radius: 10px;
  }
  .totalElementsColor {
    font-size: 13px;
  }
  .totalElementsCount{
    font-size: 13px;
  }
  .paginationBtn button{
    width: 55px !important;
  }
}
/* 125% pagenation */
@media screen and (max-width: 1228.80px) {
  .button {
    width: 35px;
    height: 30px;
    border-radius: 8px;
  }
  .totalElementsColor {
    font-size: 11px;
  }
  .totalElementsCount{
    font-size: 11px;
  }
  .paginationBtn button{
    width: 55px !important;
  }
}
/* 175% pagenation */
@media screen and (max-width: 1024px) {
  .button {
    width: 30px;
    height: 25px;
    border-radius: 5px;
  }
  .totalElementsColor {
    font-size: 9px;
  }
  .totalElementsCount{
    font-size: 9px;
  }
  .paginationBtn button{
    width: 100% !important;
    height: 100% !important;
  }
}