.container {
  border-bottom: 1px solid black;
}

.rightBorader {
  border-right: 1px solid black;
}

.header {
  margin: 10px 0 15px 0;
  color: #221c1c;
  font-size: 14px;
  font-weight: 600;
}

.header2 {
  margin: 10px 0 5px 0;
  color: #221c1c;
  font-size: 12px;
  font-weight: 600;
}

.headerValues {
  color: #221c1c;
  font-size: 12px;
  font-weight: 400;
}

.docLabel {
  background-color: #ececec;
}
/* 125% for font sizes for patient details */
@media screen and (max-width: 1228.80px) {
  .container {
    font-size: 11px !important;
  }
  .headerValues {
    font-size: 11px !important;
  }
  .header {
    font-size: 11px !important;
  }
  .header2 {
    font-size: 11px !important;
  }
  .patientsLoader {
    width: 670px !important;
  }
  .docLabel{
    font-size: 11px !important;
  }
}
/* 110% for font sizes for patient details */
@media screen and (max-width: 1396px) {
  .container {
    font-size: 9px !important;
  }
  .headerValues {
    font-size: 9px !important;
  }
  .header {
    font-size: 9px !important;
  }
  .header2 {
    font-size: 9px !important;
  }
  .patientsLoader {
    width: 670px !important;
  }
  .docLabel{
    font-size: 11px !important;
  }
}
/* 150% for font sizes for patient details */
@media screen and (max-width: 1024px) {
  .container {
    font-size: 9px !important;
  }
  .headerValues {
    font-size: 9px !important;
  }
  .header {
    font-size: 9px !important;
  }
  .header2 {
    font-size: 9px !important;
  }
  .patientsLoader {
    width: 670px !important;
  }
  .docLabel{
    font-size: 11px !important;
  }
}

.pdfViewerContainer > iframe{
    height: 96vh !important;
}
.pdfViewerContainerHalf > iframe{
    height: 76vh !important;
}
.emptyFileView{
    /* height: 76vh; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}